/* Clickable area styles */
.clickable-area {
  position: absolute;
  border: 2px solid rgba(255, 0, 0, 0.384);
  background-color: rgba(255, 0, 0, 0.034);
  cursor: pointer;
}

.clickable-area:hover {
  background-color: rgba(44, 43, 43, 0.267);

  border: 2px solid rgba(241, 236, 236, 0.877);
}
